* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #0a0a0a;
  color: #ffffff;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 50px;
  text-decoration: none;
}

h1 {
  text-align: left;
  font-family: "Jacquard 12", Times, serif;
  font-size: 128px;
  padding: 20px;
  margin-bottom: 10px;
}

h4 {
  text-align: left;
  font-family: Times "Times New Roman", Times, serif;
  font-size: 64px;
  margin-bottom: 10px;
}

header {
  grid-column: 1 / span 3;
  grid-row: 1;
}

main {
  grid-column: 1 / span 3;
  grid-row: 2;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  line-height: 1.5;
}

footer {
  grid-column: 1 / span 3;
  grid-row: 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.back_nav {
  grid-column: 1;
  grid-row: 3;
  display: flex;
  align-items: center;
}

.completed {
  grid-column: 2;
  grid-row: 3;
}

.next_nav {
  grid-column: 3;
  grid-row: 3;
}
